@import "./src/styles";

.chat-box {
  height: 85%;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 15%;

  &:hover {
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    display: block;
    width: 10px;
    overflow: auto;
    height: 2px;
    background: #adadad;
  }

  &::-webkit-scrollbar-thumb {
    background: #000;

  }
}

.chat-input {
  background: white;
  border: none;
  border-radius: 15px;
  width: 75%;

  &:focus {
    outline: none;

  }
}

.chat-input-container {
  height: calc(15% - 20px);
  align-items: center;
}

.fa-paper-plane-o {
  padding: 6px;
}

.send-icon {
  width: 30px;
  height: 30px;

  &:hover {
    border-radius: 50%;
    background-color: #28a745;
  }
}

.chatList {
}

.chatItem {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  max-width: 500px;
  padding-top: 2rem !important;
}
