<div class="main-container d-flex flex-column">
  <!--header-->
  <header class="header d-flex justify-content-center align-items-center">
    <i class="fa fa-comments-o header-item" aria-hidden="true"></i>
    <label class="header-item">Welcome To XMsg</label>
  </header>
  <!--main part-->
  <main class="d-flex content-container">
    <aside class="users-list">
      <label>user list</label>
      <app-user-list></app-user-list>
    </aside>
    <article class="chat-content">
      <label>chat content</label>
      <app-chat-content></app-chat-content>
    </article>
  </main>
  <!--footer-->
  <footer class="d-flex footer justify-content-center">
    <label class="d-flex">All rights &copy; reserved</label>
    <div class="d-flex"></div>
  </footer>

</div>
