/* You can add global styles to this file, and also import other style files */
@import "./src/assets/themes/default.scss";
body {
  margin: 0;
  padding: 0;
  background-color: #e4e4e4;
}

label {
  margin: 0;
}


